
@{
    ViewBag.Title = "Index";
}
<div class="panel panel-default"> 
    <div class="panel-body">

        <a href="/Expense/Create/0" type="submit" class="btn btn-success" style="padding-left:20px;">
            <span class="glyphicon glyphicon-plus"></span>  New Expense
        </a>
        <div style="padding-top:20px;">

            <div class="checkbox-inline">
                <input type="checkbox" id="unpaid" name="unpaid" /> <label for="unpaid">Unpaid</label>
            </div>
            <div class="checkbox-inline">
                <input type="checkbox" id="not_get_receipt" name="not_get_receipt" /> <label for="not_get_receipt">Not get receipt</label>
            </div>
        </div>
        <div class="table-container" style="padding-top:20px;">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th style="width:10px;">ID</th>
                        <th>Submited</th>
                        <th>Category</th>
                        <th>Supplier</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Due Date</th>
                        <th>Paid</th>
                        <th>Receipt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="dataTables_empty">no data...
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var table;
        var _host = "";
        $(function () {

            console.log("slide", $("#sidebar-menu li#poi"));
            $("#sidebar-menu li#poi").addClass("active open");
            $("#sidebar-menu li#brand").addClass("active open");

            //GetListProducts
            table = $('#example').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "bRetrieve": false,
                "bPaginate": true,
                //"sPaginationType": "full_numbers",
                "sAjaxSource": _host + "/Expense/ListExpenseForDatatables",
                "fnServerParams": function (aoData) {

                    aoData.push({
                        "name": "unpaid",
                        "value": $('#unpaid').is(":checked")
                    });

                    //not_get_receipt
                    aoData.push({
                        "name": "not_get_receipt",
                        "value": $('#not_get_receipt').is(":checked")
                    });
                },
                "fnDrawCallback": function (oSettings) {
                    // $('ui.button').popup();
                    //console.log("fnDrawCallback");
                },
                "aoColumns": [
                    {
                        "mData": "rowid",
                        "bSearchable": false,
                        "bSortable": false,
                        "mRender": function (data, type, obj) {
                            var link = _host + "/Expense/Create/" + obj.expense_id;
                            return '<a href="' + link + '" tooltip="Edit">' + data + '</a>';
                        }
                    },
                    {
                        "mData": "submited",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": "category_name",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": "supplier_name",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": "description",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": "amount",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": "due_date",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": "paid_date",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    {
                        "mData": "get_receipt",
                        "bSearchable": false,
                        "bSortable": false,
                        "mRender": function (data, type, obj) {

                            if (data == true) {
                                return '<span class="glyphicon glyphicon-ok text-success"></span> ' + obj.receipt_format.replace('_', ' ');
                            }
                            return "";
                            
                        }
                    }
                ]
            });


            $('.checkbox-inline input').change(function (e) {
                $(this).val($(this).is(":checked"));
                table.fnDraw();
            });

            //label
            $('.checkbox-inline input').change(function (e) {
                $(this).val($(this).is(":checked"));
                table.fnDraw();
            });

            //$(".checkbox-inline #not_get_receipt").change(function (e) {
            //    $(this).val($(this).is(":checked"));
            //    table.fnDraw();
            //});
        });
    </script>
}


